/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application BUT this cause problem to mobile layout if you give max-width in pixel. So better comment it.
  */
  html, body {
    /* height: 100%;  */
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* Custom Properties */
:root{

    /* primary */

    /* sub-heading at the top of the app UI */
    --clr-pale-violet : hsl(276, 100%, 81%);

    /* chat on the left) */
    --clr-moderate-violet :  hsl(276, 55%, 52%);

    /* chat on the right */
    --clr-desturated-dark-violet : hsl(271, 15%, 43%);

    /* main heading */
    --clr-very-desturated-dark-violet : hsl(271, 36%, 24%);


    /* paragraph */
    --clr-dark-grayish-violet : hsl(270, 7%, 64%);

    /* Gradients */
    --clr-light-magenta : hsl(293, 100%, 63%);
    --clr-light-violet : hsl(264, 100%, 61%);

    /* Secondary */

    --clr-white : hsl(0, 0%, 100%);
    /* app background */
    --clr-light-grayish-violet : hsl(270, 20%, 96%);
    /* Submit button background */
    --clr-very-dark-desaturated-violet : hsl(271, 36%, 24%);
    /* radio button outline */
    --clr-very-light-magenta : hsl(289, 100%, 72%);


    /* Font size */
    --fs: 1rem;

    /* Font family */

    /* neutral on whole body */
    --ff-neutral: 'Rubik', sans-serif;
}

/* General Styling */
body{
  font-family:var(--ff-neutral);
  font-size: var(--fs);
  line-height: 1.2;
  display: grid;
  place-content: center;
}

main{
    max-width: 375px;
    position: relative;
    background-color: var(--clr-light-grayish-violet);
}

.purple-background{
    width: 11.5rem;
    height: 40rem;
    background-color: var(--clr-light-violet);
    border-bottom-right-radius: 12rem;  
}

.chat__screen{
    max-width: 265px;
    border: 1rem solid white;
    position: absolute;
    top: 10%;
    left: 15%;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--clr-light-grayish-violet);
}

.white-oval{
      width: 9rem;
      height: 2rem;
      background-color: var(--clr-white);
      position: absolute;
      left: 20%;
      top: -1.5%;
      border-radius: 1rem;
}

.chat__screen-avatar{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: -0.5rem -0.5rem 0.5rem -0.5rem;
    background-image: linear-gradient(90deg,var(--clr-light-violet),var(--clr-light-magenta));
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
}



.person-name{
    font-size: 1rem;
    color: white;
    padding-top: 12px;
    font-size: 0.825rem;
}

.status{
    font-size: 1rem;
    color: var(--clr-pale-violet);
    padding-top: 0.25rem;
    font-size: 10px
}

.left-arrow{
    width: 1rem;
    height: 0.75rem;
}

.left-arrow>svg{
    color: var(--clr-white);
    fill: var(--clr-white);
    font-weight: 900;
    width: 1rem;
    height: 1rem;
    margin-top: 1.9rem;
}

.person-image>img{
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 1.75rem;
    border: 2px solid var(--clr-white);
}

.person-image{
    margin-top: 24px;
    margin-left: -12px;
}

.about-person{
    margin-top: 11px;
    margin-left: -8px;
}

.square-dot{
    width: 3px;
    height: 3px;
    background-color: var(--clr-white);
}

.square-dot:nth-of-type(2){
    margin: 2px 0;
}

.three-square-dots{
    margin-top: 31px;
    margin-left: 32px;
}

.other-person-msg{
    max-width: 70%;
    font-size: 10px;
    padding: 0.5rem;
    color: var(--clr-moderate-violet);
    border-radius: 0.5rem;
    background-color: var(--clr-pale-violet);
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.other-person-msg:not(:first-of-type){
    margin: 0.5rem 0;
}

.my-msg{
    max-width: fit-content;
    font-size: 10px;
    padding: 0.5rem;
    background-color: var(--clr-white);
    color: var(--clr-desturated-dark-violet);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    margin-left: auto; 
    margin-right: 0;
}

.my-msg:not(:first-of-type){
    margin-top: 0.5rem;
}

.my-msg>p{
    max-width: 9rem;
}

.my-msg.flex-item{
    display: flex;
    max-width: 11rem;
    gap: 0.5rem;
    background-color: var(--clr-light-grayish-violet);
}

.my-msg-dog-1>img,
.my-msg-dog-2>img,
.my-msg-dog-3>img{
    max-width: 3rem;
    border-radius: 0.75rem;
}

.rate-card-1,
.rate-card-2{
    margin-bottom: 0.5rem;

}

.rate-card-1.flex-item,
.rate-card-2.flex-item{
    display: flex;
    max-width: 85%;
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;;
    background-image:    linear-gradient(90deg,var(--clr-light-magenta),var(--clr-light-violet));

    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.rate-card-1.flex-item>p{
    color: var(--clr-white);
    font-size: 0.7rem;
    margin-right: 0.5rem;
    font-weight: 600;
}

.rate-card-2.flex-item>p{
    color: var(--clr-white);
    font-size: 0.7rem;
    margin-right: 1.9rem;
    font-weight: 600;
}

.rate-card-1.flex-item>h2,
.rate-card-2.flex-item>h2{
    color: var(--clr-white);
    font-size: 1.2rem;
}



.rate-card-circle{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.5rem;
    border: 3px solid var(--clr-very-light-magenta);
}

.input-msg>input{
    height: 2.5rem;
    min-width: 5rem;
    border: 0;
    border-radius: 1rem;
}

.input-msg>input:is(:active,:focus)
{
    border: 0;
    outline: none;
}

::placeholder{
    padding-left: 0.5rem;
    font-size: 0.75rem;
    color: #999;
}

.input-msg{
    background-color: var(--clr-white);
    border-radius: 1rem;
}

label.input-msg{
    position: relative;
}

label.input-msg::before{
    content: '\f138';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    position: absolute;
    top: -20%;
    left: 85%;
    font-size: 1.5rem;
    color: var(--clr-very-dark-desaturated-violet);;
}

.article-title{
    padding: 5rem 2rem 2rem 2rem;
    color: var(--clr-very-dark-desaturated-violet);
    font-size: 2.2rem;
    text-align: center;
}

.article-description{
    padding: 0 2rem 2rem 2rem;
    color: var(--clr-dark-grayish-violet);
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
}

@media (min-width:40rem){
    main{
        min-width: 1440px;
        height: 55rem;
    }

    .purple-background{
        width: 30rem;
        height: 45rem;
        background-color: var(--clr-light-violet);
        border-bottom-right-radius: 90rem;
        border-bottom-left-radius: 80rem;  
    }

    .chat__screen{
        top: 10%;
        left: 30%;
        box-shadow: 2px 0 11px 0 rgba(0,0,0,0.5);
    }
    .chat-app-portfolio.flex-item{
        display: flex;
    }
    .article{
        position: absolute;
        top: 25%;
        left: 55%;
    }
    .article-title,
    .article-description{
        text-align: left;
    }
    .article-title{
        font-size: 3.5rem;
    }
    .article-description{
        max-width: 80%;
        line-height: 1.7;
    }
}
